
body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.main{
    
    width: 70%;
    margin:auto;
}
#a1 {
display: flex;
align-items: center;
}

#a1 .material-symbols-sharp {
margin-right:0%;
} 

#a1 .material-symbols-sharp:hover{
background-color: black;
}

#a1 .home,
#a1 .men,
#a1 .running {
margin-right:2px;
text-decoration: underline bold;
font-size: 16px;

}
#a1 .home a:hover,
#a1 .men a:hover,
#a1 .running a:hover {
color:white;
background-color: black;

}
#a1 .shoes{
font-size: 16px;
}
#a1 .back 
{
text-decoration:underline lightgray;
font-size: 14px;
margin-left: 0%;
}
#a1 .back a:hover{
color:white;
background-color: black


}
#a1 a{
color:black;
margin-left: 15px;
flex-direction: row;
padding:10px 10px;
}

.headerN .sideheadN h1{
font-style: italic;
font-size: 30px;
} 
.paraN p {
height: 66px;
width: 80%;
font-size: 16px;
text-align: left;
line-height: 26px;

}
.filter {
margin-left:82%;
box-sizing: border-box;
text-shadow: #767677;
font-weight: bold;
}

.filter p {
border: 1px solid black;
padding:3px; 
width: 70%;
margin:auto;
display: flex;
align-items:right;
}

.filter .material-symbols-sharp {
margin-left: 5px;
}
.filter:hover p{
color:#98989a;
}
    .card-container {
    margin-top:1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:100%;
}
hr{
    color: #a6a6b0;
    background-color:#bcbcbe;
    height: 0.01em; 
    border: none; 
}

.card {
    width:16rem; 
    box-sizing: border-box; 
    position:relative;
}
@media (max-width: 768px) {
/* .card {
width: calc(50% - 2px); 
} */
.card-container{
    width: 100%;
}
hr{
    margin:1px;
}
.filter {
    display: none;
}
#a1{
    display:none;
}
}


@media (max-width: 480px) {
/* .card {
width: calc(100% - 2px); 

} */
}
.card p{
    text-align: left;
    color:#767677;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom:7px;
    margin-top: 0%;
}
.card .heart {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    color: black;
    cursor: pointer;
}
.card:hover {
    border: 1px solid black;   
}
.paragraph{
    position: absolute;
    bottom: 70px;
    left: 5%;
    width: 35%;
    background: #fff;
    /* text-align: center; */
    color:black !important;
    transition: all 0.3s;
    padding:5px 10px;
}

.card:hover{
    border: 1px solid black;
}

.card:hover .paragraph{
    /* position: relative; */
    bottom: 80px;
    
}
.card .card1:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/a5b262fe50704fbebcb0d99adea69b53_9366/Ultra_4D_Shoes_Black_IG2262_02_standard_hover.jpg');
}
.card .card2:hover img {
     content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/1f571eb03cfd4e5792e7ae84003232e1_9366/Ultra_4DFWD_Shoes_Black_GX6632_02_standard_hover.jpg');
}
.card .card3:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/ac13610129764afb99bbaf5d009b5db3_9366/Supernova_2.0_Shoes_Grey_HQ9933_02_standard_hover.jpg');
}
.card .card4:hover img{
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/db5a63951c5a42f2a3eaae88018a08e1_9366/Galaxy_6_Shoes_Black_GW3848_02_standard_hover.jpg');
}
.card .card5:hover img{
    content: url('https://assets.adidas.com/images/h_2000,f_auto,q_auto,fl_lossy,c_fill,g_auto/4993e0557d224195ace1afb000bc171f_9366/Ultraboost_Light_Red_HQ1402_02_standard_hover.jpg');
}
.card .card6:hover img{
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/579291ff6f4c4972ad9dab4a00a0c7fc_9366/Ultimashow_Shoes_Black_FX3632_02_standard_hover.jpg');
}
.card .card7:hover img{
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/93a47e10a8434b8daef4af0e0090d866_9366/WIND_RAISER_SHOES_Blue_GB2514_02_standard_hover.jpg');
}
.card .card8:hover img{
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/3f3b1b7c155444338733adcd00844fe2_9366/FLUIDFLOW_2.0_RUNNING_SHOE_Blue_EX2102_02_standard_hover.jpg');
}
.card .card9:hover img{
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/9a3c17f0964044059607af420143011f_9366/Ultraboost_1.0_Shoes_White_HQ6441_010_hover_standard.jpg');
}
.card .card10:hover img{
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/e693773a595b42a1a137aebb0137497c_9366/STUNICON_SHOES_Blue_GA0898_02_standard_hover.jpg');
}
.card .card11:hover img{
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/8185bd314c4f48e38ec9ae32009951fa_9366/ADI_ZOOM_SHOES_Black_GA0868_02_standard_hover.jpg');
}
.card .card12:hover img{
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/e52e019e28f042c1a077af5400ec01fb_9366/Pureboost_22_Shoes_Black_HP9014_02_standard_hover.jpg');
}
.card .card13:hover img{
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/8b7f2395486846f4b8f9af49006a43d2_9366/HYPERON_1.0_SHOES_Grey_CM4822_02_standard_hover.jpg');
}
.card .card14:hover img{
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/0333d0ea05a94d8c8b4daf8000bacf91_9366/Galaxy_6_Shoes_Green_HP2418_02_standard_hover.jpg');
}
.card .card15:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/a49591e560be4903b5f3647881918ff8_9366/Ultraboost_Light_Shoes_Green_IE1767_HM3_hover.jpg');
}
.card .card16:hover img {
     content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/1f571eb03cfd4e5792e7ae84003232e1_9366/Ultra_4DFWD_Shoes_Black_GX6632_02_standard_hover.jpg');
}
.card .card17:hover img {
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/0fae64d233a64e8799ab262a8c0d8650_9366/Supernova_Rise_Shoes_Black_IG5846_HM3_hover.jpg');
}
.card .card18:hover img{
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/db5a63951c5a42f2a3eaae88018a08e1_9366/Galaxy_6_Shoes_Black_GW3848_02_standard_hover.jpg');
}
.card .card19:hover img{
    content: url('https://assets.adidas.com/images/h_2000,f_auto,q_auto,fl_lossy,c_fill,g_auto/4993e0557d224195ace1afb000bc171f_9366/Ultraboost_Light_Red_HQ1402_02_standard_hover.jpg');
}
.card .card20:hover img{
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/579291ff6f4c4972ad9dab4a00a0c7fc_9366/Ultimashow_Shoes_Black_FX3632_02_standard_hover.jpg');
}
.card .card21:hover img{
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/93a47e10a8434b8daef4af0e0090d866_9366/WIND_RAISER_SHOES_Blue_GB2514_02_standard_hover.jpg');
}
.card .card22:hover img{
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/3f3b1b7c155444338733adcd00844fe2_9366/FLUIDFLOW_2.0_RUNNING_SHOE_Blue_EX2102_02_standard_hover.jpg');
}
.card .card23:hover img{
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/9a3c17f0964044059607af420143011f_9366/Ultraboost_1.0_Shoes_White_HQ6441_010_hover_standard.jpg');
}
.card .card24:hover img{
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/e693773a595b42a1a137aebb0137497c_9366/STUNICON_SHOES_Blue_GA0898_02_standard_hover.jpg');
}
.card .card25:hover img{
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/8185bd314c4f48e38ec9ae32009951fa_9366/ADI_ZOOM_SHOES_Black_GA0868_02_standard_hover.jpg');
}
.card .card26:hover img{
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/e52e019e28f042c1a077af5400ec01fb_9366/Pureboost_22_Shoes_Black_HP9014_02_standard_hover.jpg');
}
.card .card27:hover img{
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/8b7f2395486846f4b8f9af49006a43d2_9366/HYPERON_1.0_SHOES_Grey_CM4822_02_standard_hover.jpg');
}
.card .card28:hover img{
    content: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/0333d0ea05a94d8c8b4daf8000bacf91_9366/Galaxy_6_Shoes_Green_HP2418_02_standard_hover.jpg');
}
.card-container .card img .text-overlay {
    position: absolute;
    bottom:10px;
    left: 0;
    padding: 10px; 
    background-color:white;
    color: black; 
    font-size: 14px; 

}
.next a{
    margin-left: 83.5%;
    color:black;
}
h4{
    font-weight: bolder;
}
.container2{
    align-items: left;

}
table {
    margin: 0;
    border-collapse: collapse;
    justify-content: space-around;
  }
  

   td {
    padding: 8px;
    text-align: left;
    font-size: 16px;
  
  }
  .footer{
    
    width: 87%;
    margin:auto;
    font-weight: lighter;
  }
  .footer h1{
        font-weight: lighter;
  }
  .footer p{
    font-size: 15.5px;
    line-height: 26px; 
  }
  .footer h3{
    font-weight: lighter;
  }
  .footer ul{
    line-height: 26px;
    font-size: 15.5px;
    
  }
  .footer li{
    margin-left: -45px;
  }
  .yellowbar{
    background-color: #ede734;
    width:100%;
    height:150px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .yellowbar h1{
    text-align: center;
  }
  