@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Roboto:ital,wght@1,300&display=swap');

.footer-adi-container{
    background-color: #f7f7f1;
    display: flex;
}

.footer-item1{
    margin-right: 40px;
    align-content: center;
}
.footer-item2{
    margin-left: 20px;
    margin-right: 50px;
}
.join-list-container{
    background-color: #e4e40a;
    height: 130px;
    align-content: center;
}
.join-list{
    margin-left: 450px;
    display: flex;
    font-display: 20px;
    margin-right: 30px;
    font-weight: 900px;
}
button{
    margin-top: 30px;
    width: 250px;
    background-color: black;
    color:white;
    pointer-events: visibleFill;
    box-shadow: 5px 5px;
    
}
.button:hover{
    overflow: hidden;
}

h2{
    margin-right: 40px;
    margin-top: 40px;
    font-weight: 900px;
}
{
    margin left: 30px;
}

h1{
    font-size: 30px;
}
h5{
    font-size: 18px;
    font-weight: bold;
    margin-left: 200px;
}
li{
    list-style: none;
    margin-left: 200px;
    font-size: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}
li:hover{
    text-decoration: underline;
}
.adi-list-container{
    display: flex;
}
.adi-list-sports{
    margin-left: -140px;
    cursor: pointer
}
.adi-list-collections{
    margin-left: -140px;    
}
.adi-list-support{
    margin-left: -140px;
}
.adi-list-company-info{
    margin-left: -140px;
}
.adi-list-follow-us{
    margin-left: -140px;
}
.

h1,h2,p,button,h5,li,.footer-conclusion,.footer-item.{
    font-family: 'Open sans', sans-serif;
    
}
.footer-item-container{
    background-color: rgb(24, 20, 29);
    height: 120px;

}
.footer-item{
    color: azure;
   align-items: center;
    margin-left: 500px;
    cursor: pointer;
    font-size: smaller;
    margin-top: 20px;
}
.footer-conclusion{
    color: azure;
    margin-left: 520px;
    font-size: smaller;
    margin-top: 70px;
}